/* Write your CSS here */
/* index.css */
.todo-item-container {
  background-color: #ffc2a0;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  color: #000000;
  font-size: 16px;
  margin: 0;
}

.button {
  background-color: transparent;
  color: #ff0b37;
  border: 2px solid #ff0b37;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.button:hover {
  background-color: #ff0b37;
  color: #ffffff;
}

button:focus {
  outline: none;
}
